.chart rect {
	stroke: white;
	fill: #0099FF;
}

.chartrframe svg {
	background-color: black;
}

.chartrpanel svg {
	background-color: gray;
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.area {
  fill: #e7e7e7;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #222;
}

.x.axis .minor {
  stroke-opacity: .1;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

.bar_0 {
  fill: red;
  stroke: white;
}

.bar_1 {
  fill: blue;
  stroke: white;
}

.bar_2 {
  fill: green;
  stroke: white;
}

.bar_3 {
  fill: olive;
  stroke: white;
}

.bar_4 {
  stroke: white;
  fill: steelblue;
}

.line_0 {
  stroke: red;
  fill: none;
}

.line_1 {
  stroke: blue;
  fill: none;
}

.line_2 {
  stroke: green;
  fill: none;
}

.line_3 {
  stroke: olive;
  fill: none;
}

.line_4 {
  fill: none;
  stroke: steelblue;
}

.area_0 {
  stroke: red;
  fill: red;
  opacity: 0.2;
  -moz-opacity: 0.2;
  filter:alpha(opacity=2);
}

.area_1 {
  stroke: blue;
  fill: blue;
  opacity: 0.2;
  -moz-opacity: 0.2;
  filter:alpha(opacity=2);
}

.area_2 {
  stroke: green;
  fill: green;
  opacity: 0.2;
  -moz-opacity: 0.2;
  filter:alpha(opacity=2);
}

.area_3 {
  stroke: olive;
  fill: olive;
  opacity: 0.2;
  -moz-opacity: 0.2;
  filter:alpha(opacity=2);
}

.area_4 {
  fill: steelblue;
  stroke: steelblue;
  opacity: 0.2;
  -moz-opacity: 0.2;
  filter:alpha(opacity=2);
}

.chart3rtable {
  display: inline-block;
  border: 1px solid #999;
}

.chart3rtableheader {
  background-color: steelblue;
  color: white;
}

.chart3rtablelabel {
  background-color: olive;
  color: white;
}

.chart3rtabledata {
  background-color: lavender;
}

