# top most editorconfig file
root = true

[*]
end_of_line = lf
insert_final_newline = false
indent_size = 2

[*.{js,css,html}]
charset = utf-8
trim_trailing_whitespace = true

[*.{js,css,html}]
indent_style = space
indent_size = 2

[*.js]
insert_final_newline = true