.chart rect {
	stroke: white;
	fill: #0099FF;
}

.chartrframe svg {
	background-color: black;
}

.chartrpanel svg {
	background-color: gray;
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.area {
  fill: #e7e7e7;
}

.r3_horaxis, .r3_veraxis {
  shape-rendering: crispEdges;
}

.r3_horaxis line{
  stroke: #000;
}

.r3_horaxis .minor {
  stroke-opacity: 1;
}

.r3_horaxis path {
  display: none;
}

.r3_veraxis line, .r3_veraxis path {
  fill: none;
  stroke: #000;
}

.r3_table {
  display: inline-block;
  border: 1px solid #999;
}

.r3_header {
  background-color: steelblue;
  color: white;
}

.chart3rtablelabel {
  background-color: olive;
  color: white;
}

.chart3rtabledata {
  background-color: lavender;
}

